.welcomePageCard{
    background-image: URL("BackgroundImage.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcomePageMainHeading{
    color: white;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    margin: 0;
}
.welcomePageMainHeading span{
    color: #FFD700;
}
.welcomePageSubHeading{
    color: white;
    font-size: 20px;
    font-family: "Playfair Display", serif;
}
.welcomePageEnterLabButton{
    width: 200px;
    height: 45px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    background-color: grey;
    border: none;
    border-radius: 12px;
}
.welcomePageEnterLabButton:hover{
    border: 4px solid #FFD700;
}
.advantagesSection{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}
.advantagesSectionHeading{
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display", serif;
}
.advantages{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
    justify-items: center;
}
.advantage, .step{
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    width: 80%;
}
.howItWorksSection{
    margin-bottom: 50px;
    padding: 20px;
}
.howItWorksSectionHeading{
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display", serif;
}
.steps{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 20px;
    justify-items: center;
}
.experimentsSection{
    display: none;
    background-image: URL("BackgroundImage.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    font-family: "Playfair Display", serif;
}
.experimentsSectionCard{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.differentWays{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.guidedExperiments, .startFromScratch{
    border: 2px solid white;
    background-color: rgb(101, 101, 101);
    opacity: 90%;
    border-radius: 12px;
    padding: 20px;
    width: 300px;
    text-align: center;
}
.guidedExperiments:hover, .startFromScratch:hover{
    border: 4px solid #FFD700;
}
.guidedExperimentsHeading, .startFromScratchHeading{
    font-size: 24px;
    margin-bottom: 10px;
}
.guidedExperimentsDescription, .startFromScratchDescription{
    font-size: 18px;
}
.guidedExperimentsButton, .startFromScratchButton{
    width: 200px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Playfair Display", serif;
    background-color: grey;
    color: black;
    border: none;
    border-radius: 12px;
}
.guidedExperimentsButton:hover, .startFromScratchButton:hover{
    border: 4px solid #FFD700;
}
.guidedExperimentsSection, .startFromScratchSection{
    display: none;
}
.guidedExperimentsSection{
    background-image: URL("BackgroundImage.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    font-family: "Playfair Display", serif;
}
.guidedExperimentsContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.guidedExperimentsContentMainHeading{
    font-size: 30px;
    margin: 15px;
}
.guidedExperimentsContentDescription{
    font-size: 20px;
    margin: 15px;
    text-align: center;
    width: 60%;
}
.guidedExperimentsCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;

}
.guidedExperimentsCard{
    border: 2px solid white;
    background-color: rgb(101, 101, 101);
    opacity: 90%;
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    text-align: center;
}
.guidedExperimentsCard:hover{
    border: 4px solid #FFD700;
}
.experimentTitle{
    font-size: 22px;
    margin-bottom: 10px;
}
.experimentDescription{
    font-size: 16px;
    margin-bottom: 10px;
}
.experimentDetails{
    font-size: 14px;
    margin-bottom: 15px;
}
.exploreExperimentButton{
    width: 200px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    background-color: grey;
    color: black;
    border: none;
    border-radius: 12px;
}
.exploreExperimentButton:hover{
    border: 4px solid #FFD700;
}
.titrationExperiment, .precipitationExperiment, .pHExperiment{
    display: none;
    background-image: URL("BackgroundImage.png");
    background-size: cover;
    height: auto;
    width: 100%;
    color: white;
    font-family: "Playfair Display", serif;
}