.welcomePageCard{
    background-image: URL("BackgroundImage.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcomePageMainHeading{
    color: white;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    margin: 0;
}
.welcomePageMainHeading span{
    color: #FFD700;
}
.welcomePageSubHeading{
    color: white;
    font-size: 20px;
    font-family: "Playfair Display", serif;
}
.welcomePageEnterLabButton{
    width: 200px;
    height: 45px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    background-color: grey;
    border: none;
    border-radius: 12px;
}
.welcomePageEnterLabButton:hover{
    border: 4px solid #FFD700;
}
.advantagesSection{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}
.advantagesSectionHeading{
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display", serif;
}
.advantages{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
    justify-items: center;
}
.advantage, .step{
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    width: 80%;
}
.howItWorksSection{
    margin-bottom: 50px;
    padding: 20px;
}
.howItWorksSectionHeading{
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display", serif;
}
.steps{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 20px;
    justify-items: center;
}